# Análisis de datos
pandas==2.1.4
numpy==1.26.4

# Visualización
matplotlib==3.8.2
seaborn==0.13.2

# Machine Learning
scikit-learn==1.4.0

# Jupyter
jupyterlab==4.0.11

# Utilidades
python-dotenv==1.0.0